<footer>
  <div class="container">
    <p>&copy;2025 CyberSec Insights. All rights reserved.</p>

    <p class="disclaimer">
      The content provided is for educational purposes only. The author is not
      responsible for any misuse of information.
    </p>
  </div>
</footer>
